body{
    color: #40514e;
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1{
    margin-top: 50px;
    color:  #66BFBF;
    font-family:  'Sacramento', cursive;
    font-size: 5.625em;
   
    
}

.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 150px;
    
    
}
.boy{
    width: 4.5%;
    position: absolute;
    left: 250px;
    top: 40px;
    
}


.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
a{
    color: #0d5c5c;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.resume{
    position: absolute;
    top: 50px;
    right: 450px;
    color: #46a9a9;
    font-weight:400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hobbies{
    position: absolute;
    top: 50px;
    right: 350px;
    color: #46a9a9;
    font-weight:400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resume:hover{
    color: #11CDD4;
}
.hobbies:hover{
    color: #11CDD4;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 180px;
   
}
.bottom-cloud{
    position: absolute;
    bottom: 400px;
    left: 300px;
    
}


h2{
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.profile{
    margin: 60px auto 60px auto;
}
.mid-para{
    width: 30%;
    margin: auto;
    
}
p{
    line-height: 2;
    
}

hr{
    border: dotted;
    border-color: #b8c3c3;
    border-width: 6px;
    border-bottom: none;
    width: 4%;
    margin: 60px auto 60px auto;

}

.photo{
    height: 200px;
    width: 200px;
}
.bottom-para{
    width: 40%;
    margin: 40px auto 60px auto;
}


.skills{
    margin: 60px auto 60px auto ;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  
  text-align: left;
}
.skill{
    width: 20%;
    float: left;
    margin-right: 70px;
    
}
.work{
    width: 20%;
    float: right;
    
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #0c659c);
    background-image: -moz-linear-gradient(top, #11CDD4, #0c659c);
    background-image: -ms-linear-gradient(top, #11CDD4, #0c659c);
    background-image: -o-linear-gradient(top, #11CDD4, #0c659c);
    background-image: linear-gradient(to bottom, #11CDD4, #0c659c);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  .contact-me{
    margin-bottom: 60px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .sing{
    width: 50%;
    margin-left: 100px;
}

.Singing{
    width: 30%;
    float: left;
    margin-left: 300px;
    
}
.ride{
    width: 40%;
    margin-left: 700px;
    padding: 100px 0 100px 0;
  
}
.riding{
    width: 40%;
    float: right;
    margin-right: 50px;
}
.psing{
    margin-left: 550px;
    width: 40%;
}
.hsing{
    margin-left: 600px;

}
.pfit{
    width: 30%;
    margin-left: 530px;
}
.pride{
    width: 80%;
}
.hobbies:visited{
    color: #0d5c5c;
}